@font-face {
    src: url("fonts/NunitoSans-Regular.ttf");
    font-family: "Nunito Sans";
}
@font-face {
    src: url("fonts/YesevaOne-Regular.ttf");
    font-family: "Yeseva One";
}

.font-nunito-normal {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}
.font-yeseva-normal {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}
.body {
    margin: 0;
    font-family: Nunito Sans, Arial;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1;     
}
a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.city-ul-li:hover {
    color: #E3B873;
    text-decoration: underline;
}
.header-nav-item:hover {color: #E3B873;}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;    
}
.header {
    margin: 0;
    background: #131313;
}
.header-nav {
    list-style: none;
    display: flex;    
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.header-nav-item {
    margin-right: 47px;
}
/* .header-nav-item a {
    text-decoration: none;
    color: white;
} */

.phone {   
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}
.button {
    cursor: pointer;
    background-color:#E3B873;
    padding: 13px 33px;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    }
.logo {
    margin-left: 50px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.body * {
    box-sizing: border-box;
}
.city {
    background-image: url(image/image4.3.jpg);
    background-size: cover;   
    padding-top: 156px;
    padding-left: 88px;
    padding-bottom: 199px;
    padding-right: 88px;
    position: relative;
}
.city-overlay {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .7);
}
.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;    
}
.color-text-city {
    color: #E3B873;
}
.subtitle {
    margin-left: 0;
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;    
}
.button-submit {
    background: none;
    padding: 13px 33px;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    margin-left: 29px;        
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;  
    cursor: pointer;  
}
.projects {
    background-color: black;
    background-size: cover;    
    padding-top: 99px;
    padding-left: 88px;
    padding-bottom: 397px;
    padding-right: 88px;
    position: relative;    
}
.city-ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: flex-start;    
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.city-ul-li {
    margin-right: 60px;    
}

.img-city {
    padding: 20px;
}

.city-block {
    display: flex;
    justify-content: space-between;
}
.title2 {    
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.subtitle2 {
    width: 80%;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.img-project-mobile, .arrow-to-right, .arrow-to-left {
    display: none;
}
.wrapped {
    display: grid;
    grid-template-columns: 150px 200px;
    grid-gap: 2vw; 
    margin-bottom: 10%;   
}
.area2 {    
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.area3 {    
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.dots {
    display: flex;
    width: 63px;
    justify-content: space-between;
}
.dots span {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
.arrows {
    display: flex;
    width: 200px;
    justify-content: space-between;

}
.arrow-r {
    transform: rotateY(180deg);

}
.control {
    margin-top: -350px;
    margin-bottom: -140px;
    position: relative;
}
.container-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-control {    
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.line1 {
    background: #E3B873;
    border: 1px solid #E3B873;
    width: 32px;
    height: 1.5px;
    margin: 5px;
}
.room-box {   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: 20px;
    margin-bottom: 30px;    
}
.room {
    filter: brightness(40%);
} 
.play {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #E3B873;
    position: absolute;
    cursor: pointer;
}
.play-svg {
    position: absolute;
    cursor: pointer;
}
/* .room-box-overlay {
    content: "";
    position: absolute;
    top: 12%;
    right: 21.6%;
    left: 21.6%;
    bottom: 38.8%;
    background-color: rgba(0, 0, 0, .7);     */
/* } */
.line2-facility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line2 {
    display: flex;
    justify-content: center;    
    background: #E3B873;
    border: 1px solid #E3B873;
    width: 55px;
    height: 1.5px;
    margin: 5px;
}
.facility {
    display: flex;    
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 46%;
}

.control-form {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 823px;
    height: 100px;
}
.control-form-mobile {display: none;}
.input-control {
    border: none;    
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;    
    height: 30px;
}
.label-control {    
    font-size: 13px;
    line-height: 21px;    
    color: rgba(54, 54, 54, 0.5);
}
.button-control {
    cursor: pointer;
    background-color:#E3B873;
    padding: 13px 33px;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 207px;
    height: 55px;
}
.label-control {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}
.fake::before{
  content:"\2714";
  opacity: 0;
  transition: .2s;
}
.checkbox:checked + .fake::before{
  opacity: 1;
}
.checkbox-control {
    align-self:center;
}        
.repair {    
    position: relative;
    margin-top: 250px;
}    
.title-repair {
    display: flex;
    justify-content: center;
}    
.tools-svg {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.repair-blocks {
    display: flex;
    justify-content: space-between;
}
.repair-block {
    width: 100%;    
    background-repeat: no-repeat;    
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
    padding-bottom: 50px;
}
.repair-block-block {
    background: white;
    width: 70%;
    height: 295px;
    padding-left: 30px;
    margin-top: -127px;
}
.from {
    background: #E3B873;    
    width: 228px;
    height: 54px;    
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;        
    margin-left: -30px;
    cursor: pointer;
}
.ul-redec {    
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-left: -30px;
}
.repair-block-bottom {
    background-image: url(image/image6.1.jpg);
    width: 95%;    
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
}
.repair-bb-in {
    width: 100%;    
    padding-left: 234px;
    padding-top: 50px;
}
.repair-bb-in-in {
    width: 100%;    
    display: flex;
    margin-top: 70px;
}
.repair-bbb {
    padding-bottom: 200px;
}
.number {
    color: white;
    background: #E3B873;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    border-width: 5px;
    font-family: "Yeseva One";
}
.repair-form {
    width: 66%;
    height: 100%;
    background-color: black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;    
}
.text-repair {    
    font-size: 18px;
    line-height: 26px;
    text-align: center;    
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 20px;
}
.text-repair-checkbox {
    font-size: 14px;
    line-height: 163.68%;
    text-align: center;    
    color: #FFFFFF;    
}
.label-repair {    
    font-size: 13px;
    line-height: 21px;    
    color: rgba(255, 255, 255, 0.5);
    margin: 30px;
}
.text-repair {    
    font-size: 14px;
    line-height: 163.68%;    
    color: #FFFFFF;
}
.button-repair {
    cursor: pointer;
    background-color:#E3B873;
    padding: 13px 33px;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 207px;
    height: 55px;
    align-self: flex-end;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 40px;
}
.input-repair {
    background: none;
    border: none;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);    
    width: 100%;    
    height: 30px;    
    font-size: 14px;
    line-height: 23px;    
    color: #FFFFFF;
}
.pig-icon {    
    background: #E3B873;
    display: inline-block;    
    text-align: center;
    padding: 12px;
    margin: 5px 10px;
    line-height: 30px;
    width: 72px;
    height: 72px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
}
.text-pig {    
    font-size: 18px;
    line-height: 26px;    
    color: #E3B873;
}
.pig-text {
    display: flex; 
    justify-content: end;
    width: 83%;
    margin-top: 30px;
    cursor: pointer;
}
.fantasies {    
    background-image: url(image/image5.1.jpg);
    background-size: cover;    
    position: relative;
}
.container-fantasies {
    display: flex;
    flex-direction: row;
}
.fantasies-block1 {
    margin-left: 75px;
}
.fantasies-block2 {
    margin-top: -85px;
    margin-bottom: -40px;
    text-align: end;
}
.fantasies-block3 {
    margin-top: -150px;
}
.fantasies-overlay {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;    
    background-color: rgba(0, 0, 0, .7);
}
.title-f {    
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}
.title-f-mobile {
    display: none;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.ul-f {
    list-style: none;
    margin-left: -40px;
}
.li-f {    
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    text-transform: none;
    margin-top: 30px;
}
.fantasies-block-in {
    margin: 35px;
}
.fantasies-image {
    margin: 35px;
    margin-bottom: 0;
}

.clients {      
    position: relative;    
    background-image: url(image/Frame.svg);
    background-position: center;
    background-repeat:repeat-x;
    margin-top: 75px;
    margin-bottom: 175px;
}
.title-clients {    
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #181818;
}
.clients-block {
    display: flex;
    justify-content: space-around;
}

.clients-block-in {
    width: 26%;    
    margin: 20px;
    margin-bottom: 100px;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 8%);
    background: white;
    padding: 10px 15px 0px;
}
.clients-block-in-up {    
    font-size: 18px;
    line-height: 23px;    
    color: #181818;
    display: flex;
    flex-direction: row;
}
.clients-foto {
    margin-right: 20px;
    margin-bottom: 20px;
}
.clients-text {        
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    text-transform:lowercase;
}
.labels {
    display: flex;
    justify-content: center;
}
.label-question {
    text-align: center;
}
.checkbox-question {
    text-align: center;
}
.button-question {
    align-self: center;;
}
.input-clients {
    background: none;
    border: none;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);    
    width: 100%;
    height: 30px;    
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.input-question {
    width: 70%;
}
.map {
    background-size: cover;    
    padding-left: 88px;
    padding-bottom: 30px;
    padding-right: 88px;
    position: relative;
    background-image: url(image/image7.2.jpg);
}
.map-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.map-form {
    width: 50%;    
    background-color: black; 
    margin: auto;    
    margin-top: -160px;
    display: flex;
    flex-direction: column;    
}
.input-clients-m {
    background: none;
    border: none;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);    
    width: 340px;
    height: 30px;    
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.map-title {    
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #E3B873;    
}
.map-title-down {
    display: none;
}
.map-images {
    margin: auto;
}
.map-images-down {
    display: none;    
}
.map-image-mobile {display: none;}
.map-map {
    margin: auto;
    margin-top: 30px;
}
.map-overlay {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color:rgba(0, 0, 0, .9);
}
.footer {
    margin: 0;
    background: #131313;
}

@media only screen and (max-width:1440px) {
    
    .header-nav-item, .button-header {display: none;} 
    .container {width: 90%;} 

    .city {
        padding-top: 85px;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;        
    }
    .subtitle {
        font-size: 14px;
        line-height: 135.84%;
        margin-bottom: 60px;
    }
    .button {width: 100%;}
    .button-submit {
        width: 100%;
        margin-left: 0;
        margin-top: 26px;
        margin-bottom: 75px;
    }
    .img-city, .city-ul {display: none;}     
    
    .projects {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    .subtitle2 {
        text-align: center;
        font-size: 11px;
        line-height: 158.48%;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .img-project-mobile {
        display: block;
        width: 100%;
    }   
    .arrow-to-left {
        display: block;
        position: absolute;
        top: 47%;
    }
    .arrow-to-right {
        display: block;
        position: absolute;
        top: 47%;
        left: 91%;
    }
    .arrow-to-left-map {
        display: block;
        position: absolute;
        top: 4%;
    }
    .arrow-to-right-map {
        display: block;
        position: absolute;
        top: 4%;
        left: 90%;
    }
    .room {width: 340px; height: 207px;}  
    .play {
        width: 37px;
        height: 37px;
    }
    .play-svg {
        width: 12px;
        height: 12px;
    }
    
    .title2 {text-align: center;}  
    
    
    .ul-f, .control-form-block, .arrows {display: none;}
    .control {background-color: black;}
    .control-form-mobile {display: block;}

    .facility {
        font-size: 11px;
        line-height: 169.8%;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
    }

    .fantasies {display: none;}    
    .repair-blocks {flex-direction: column;} 
    .repair-bbb, .clients, .footer {display: none;}
    .button-repair {margin-right: 0;}    
    .map-map {width: 100%;}     

    .title {
        font-size: 23px;
        line-height: 132.83%;
    }
    
    .repair-block-block {margin-left: -140px;}
    .checkbox-control, .title-f {display: none;}

    .room-box-overlay {        
        top: 0%;
        right: 0%;
        left: 0%;
        bottom: 57%;
    }
    .repair {
        margin-top: 200px;
        margin-bottom: 150px;
    }
    .labels {
        display: block;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .label-repair {margin: 0;}
    .label-question {text-align: start;}
    
    .title-f-mobile {
        display: block;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E3B873;
        text-align: center;
        margin-top: -150px;
    }
    .button-repair {width: 100%;}

    .map {padding: 0;}
    .map-form {        
        width: 100%;
        margin: 0;
    }
    .map-title, .map-images {display: none;}
    .map-title-down {
        display: block;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;    
        color: #E3B873;
    }     
    .map-images-down {
        display: block;
        margin: auto;
    }
    .map-image-mobile {
        display: block;
    }
    .map-overlay {        
        background-color:rgba(0, 0, 0, 1);
    }
}