@media only screen and (max-width:1440px) {
    .header-nav-item, .button {display: none;}    
}


@font-face {
    src: url("fonts/NunitoSans-Regular.ttf");
    font-family: "Nunito Sans";
}
@font-face {
    src: url("fonts/YesevaOne-Regular.ttf");
    font-family: "Yeseva One";
}


.body {
    margin: 0;
    font-family: Nunito Sans, Arial;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
    padding-left: 20px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    
}
.header {
    margin: 0;
    background: #131313;
    }
.header-nav {
    list-style: none;
    display: flex;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.header-nav-item {
    margin-right: 47px;
}
.header-nav-item a {
    text-decoration: none;
    color: white;
}
.header-home a {
    color: #E3B873;
}
.phone {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}
.button {
    cursor: pointer;
    background-color:#E3B873;
    padding: 13px 33px;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;

    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    }

.logo {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.body * {
    box-sizing: border-box;
}
.city {
    background-image: url(image/image4.3.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 156px;
    padding-left: 88px;
    padding-bottom: 199px;
    padding-right: 88px;
    position: relative;
}
.city-overlay {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .7);
}
.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;    
}

.color-text-city {
    color: #E3B873;
}
.subtitle {
    margin-left: 0;
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 580px;
}
.button-submit {
    background: none;
    padding: 13px 33px;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    margin-left: 29px;
        
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;    
}

.projects {
    background-size: cover;
    height: 1074px;
    padding-top: 99px;
    padding-left: 88px;
    padding-bottom: 397px;
    padding-right: 88px;
    position: relative;
    background-color: black;
}
.city-ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    }
.city-ul-li {
    margin-right: 60px;    
}
.city-ul-li-color {
    color: #E3B873;
    border-bottom: 1px solid;
}
.city-block {
    margin: 0;
}
.img-city {
    padding: 20px;
}

.city-block {
    display: flex;
}
.title2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.subtitle2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.wrapped {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 2vw;    
}
.area2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;

}
.area3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;

}

.control {
    margin-top: -350px;
    height: 1072px;
}
.container-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-control {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    z-index: 1;
}
.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.line1 {
    background: #E3B873;
    border: 1px solid #E3B873;
    width: 32px;
    height: 1.5px;
    margin: 5px;
}
.room-box {   
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.room-box-overlay {
    content: "";
    position: absolute;
    width: 817px;
    height: 434px;
    background-color: rgba(0, 0, 0, .7);
    
}
.line2-facility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line2 {
    display: flex;
    justify-content: center;
    
    background: #E3B873;
    border: 1px solid #E3B873;
    width: 55px;
    height: 1.5px;
    margin: 5px;   
    
}

.facility {
    display: flex;
    justify-content: center;
    
    width: 697px;
    height: 173px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.control-form {
    display: flex;
    justify-content: center;
    width: 823px;
    height: 173px;
}
.button-control {
    cursor: pointer;
    background-color:#E3B873;
    padding: 13px 33px;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;

    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    }